In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
#import scipy.stats as st
import numpy as np
#from scipy.stats import linregress

# Read data files

daily_report= pd.read_csv("C:/Users/kyran/Documents/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/03_15_2020.csv")

daily_report.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-15T18:20:18,67794,3085,54288,30.9756,112.2707
1,NaN,Italy,2020-03-14T20:13:16,24747,1809,2335,41.8719,12.5674
2,NaN,Iran,2020-03-15T18:20:18,13938,724,4590,32.4279,53.6880
3,NaN,"Korea, South",2020-03-15T18:20:18,8162,75,510,35.9078,127.7669
4,NaN,Spain,2020-03-15T18:20:18,7798,289,517,40.4637,-3.7492

In [4]:
daily_report.describe()

          Confirmed       Deaths     Recovered    Latitude   Longitude
count    258.000000   258.000000    258.000000  258.000000  258.000000
mean     649.019380    24.961240    294.705426   27.534099    5.401220
std     4626.820447   227.106821   3394.892621   22.760023   81.591161
min        0.000000     0.000000      0.000000  -41.454500 -157.498300
25%        4.000000     0.000000      0.000000   15.345875  -72.744225
50%       26.500000     0.000000      0.000000   33.913000   10.976800
75%      118.500000     1.000000      4.750000   42.750475   72.251800
max    67794.000000  3085.000000  54288.000000   64.963100  174.886000

In [5]:
daily_report.dtypes

Province/State     object
Country/Region     object
Last Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
Latitude          float64
Longitude         float64
dtype: object

In [12]:
# Generate a summary statistics table of sum, mean, median, variance, standard deviation, 
# and SEM of the confirmed, deaths, and recovery for each country

#Sum
confirmed_sum= daily_report.groupby('Country/Region').sum()['Confirmed']
deaths_sum= daily_report.groupby('Country/Region').sum()['Deaths']
recovered_sum= daily_report.groupby('Country/Region').sum()['Recovered']

confirmed_sum

Country/Region
Afghanistan                       16
Albania                           42
Algeria                           48
Andorra                            1
Antigua and Barbuda                1
                                  ..
Uruguay                            4
Uzbekistan                         1
Venezuela                         10
Vietnam                           56
occupied Palestinian territory     0
Name: Confirmed, Length: 147, dtype: int64

In [13]:
deaths_sum

Country/Region
Afghanistan                       0
Albania                           1
Algeria                           4
Andorra                           0
Antigua and Barbuda               0
                                 ..
Uruguay                           0
Uzbekistan                        0
Venezuela                         0
Vietnam                           0
occupied Palestinian territory    0
Name: Deaths, Length: 147, dtype: int64

In [14]:
recovered_sum

Country/Region
Afghanistan                        0
Albania                            0
Algeria                           12
Andorra                            1
Antigua and Barbuda                0
                                  ..
Uruguay                            0
Uzbekistan                         0
Venezuela                          0
Vietnam                           16
occupied Palestinian territory     0
Name: Recovered, Length: 147, dtype: int64

In [15]:
#mean
confirmed_mean= daily_report.groupby('Country/Region').mean()['Confirmed']
deaths_mean= daily_report.groupby('Country/Region').mean()['Deaths']
recovered_mean= daily_report.groupby('Country/Region').mean()['Recovered']

In [16]:
confirmed_mean

Country/Region
Afghanistan                       16.0
Albania                           42.0
Algeria                           48.0
Andorra                            1.0
Antigua and Barbuda                1.0
                                  ...
Uruguay                            4.0
Uzbekistan                         1.0
Venezuela                         10.0
Vietnam                           56.0
occupied Palestinian territory     0.0
Name: Confirmed, Length: 147, dtype: float64

In [17]:
deaths_mean

Country/Region
Afghanistan                       0.0
Albania                           1.0
Algeria                           4.0
Andorra                           0.0
Antigua and Barbuda               0.0
                                 ...
Uruguay                           0.0
Uzbekistan                        0.0
Venezuela                         0.0
Vietnam                           0.0
occupied Palestinian territory    0.0
Name: Deaths, Length: 147, dtype: float64

In [20]:
recovered_mean

Country/Region
Afghanistan                        0.0
Albania                            0.0
Algeria                           12.0
Andorra                            1.0
Antigua and Barbuda                0.0
                                  ...
Uruguay                            0.0
Uzbekistan                         0.0
Venezuela                          0.0
Vietnam                           16.0
occupied Palestinian territory     0.0
Name: Recovered, Length: 147, dtype: float64

In [21]:
#median
confirmed_median= daily_report.groupby('Country/Region').median()['Confirmed']
deaths_median= daily_report.groupby('Country/Region').median()['Deaths']
recovered_median= daily_report.groupby('Country/Region').median()['Recovered']

In [22]:
confirmed_median

Country/Region
Afghanistan                       16.0
Albania                           42.0
Algeria                           48.0
Andorra                            1.0
Antigua and Barbuda                1.0
                                  ...
Uruguay                            4.0
Uzbekistan                         1.0
Venezuela                         10.0
Vietnam                           56.0
occupied Palestinian territory     0.0
Name: Confirmed, Length: 147, dtype: float64

In [23]:
deaths_median

Country/Region
Afghanistan                       0.0
Albania                           1.0
Algeria                           4.0
Andorra                           0.0
Antigua and Barbuda               0.0
                                 ...
Uruguay                           0.0
Uzbekistan                        0.0
Venezuela                         0.0
Vietnam                           0.0
occupied Palestinian territory    0.0
Name: Deaths, Length: 147, dtype: float64

In [24]:
recovered_median

Country/Region
Afghanistan                        0.0
Albania                            0.0
Algeria                           12.0
Andorra                            1.0
Antigua and Barbuda                0.0
                                  ...
Uruguay                            0.0
Uzbekistan                         0.0
Venezuela                          0.0
Vietnam                           16.0
occupied Palestinian territory     0.0
Name: Recovered, Length: 147, dtype: float64

In [25]:
#variance
confirmed_variance= daily_report.groupby('Country/Region').var()['Confirmed']
deaths_variance= daily_report.groupby('Country/Region').var()['Deaths']
recovered_variance= daily_report.groupby('Country/Region').var()['Recovered']

In [26]:
confirmed_variance

Country/Region
Afghanistan                      NaN
Albania                          NaN
Algeria                          NaN
Andorra                          NaN
Antigua and Barbuda              NaN
                                  ..
Uruguay                          NaN
Uzbekistan                       NaN
Venezuela                        NaN
Vietnam                          NaN
occupied Palestinian territory   NaN
Name: Confirmed, Length: 147, dtype: float64

In [27]:
deaths_variance

Country/Region
Afghanistan                      NaN
Albania                          NaN
Algeria                          NaN
Andorra                          NaN
Antigua and Barbuda              NaN
                                  ..
Uruguay                          NaN
Uzbekistan                       NaN
Venezuela                        NaN
Vietnam                          NaN
occupied Palestinian territory   NaN
Name: Deaths, Length: 147, dtype: float64

In [28]:
recovered_variance

Country/Region
Afghanistan                      NaN
Albania                          NaN
Algeria                          NaN
Andorra                          NaN
Antigua and Barbuda              NaN
                                  ..
Uruguay                          NaN
Uzbekistan                       NaN
Venezuela                        NaN
Vietnam                          NaN
occupied Palestinian territory   NaN
Name: Recovered, Length: 147, dtype: float64

In [29]:
#How many rows per country?
country_count= daily_report['Country/Region'].value_counts()
country_count

US            56
China         33
Canada         9
Australia      9
France         6
              ..
Hungary        1
Bahrain        1
Namibia        1
Azerbaijan     1
Bhutan         1
Name: Country/Region, Length: 147, dtype: int64

In [30]:
#How many unique countries?
#how many drug regimens are there?
unq_country=daily_report['Country/Region'].unique()
unq_country

array(['China', 'Italy', 'Iran', 'Korea, South', 'Spain', 'Germany',
       'France', 'Switzerland', 'Norway', 'United Kingdom', 'Netherlands',
       'Sweden', 'Belgium', 'Denmark', 'Austria', 'Japan', 'US',
       'Cruise Ship', 'Malaysia', 'Qatar', 'Portugal', 'Finland',
       'Czechia', 'Greece', 'Singapore', 'Slovenia', 'Bahrain', 'Israel',
       'Brazil', 'Iceland', 'Philippines', 'Estonia', 'Australia',
       'Romania', 'Ireland', 'Poland', 'Indonesia', 'Thailand', 'India',
       'Kuwait', 'Egypt', 'Iraq', 'Lebanon', 'Canada', 'Saudi Arabia',
       'San Marino', 'United Arab Emirates', 'Russia', 'Chile',
       'Luxembourg', 'Taiwan*', 'Vietnam', 'Slovakia', 'Pakistan',
       'South Africa', 'Brunei', 'Croatia', 'Algeria', 'Serbia',
       'Argentina', 'Bulgaria', 'Panama', 'Peru', 'Albania', 'Mexico',
       'Colombia', 'Hungary', 'Georgia', 'Latvia', 'Ecuador', 'Morocco',
       'Belarus', 'Costa Rica', 'Cyprus', 'Armenia',
       'Bosnia and Herzegovina', 'Malta', 'Oman', 'Tunisia',
       'Afghanistan', 'Azerbaijan', 'North Macedonia', 'Maldives',
       'Lithuania', 'Moldova', 'Dominican Republic', 'Sri Lanka',
       'Bolivia', 'Senegal', 'Martinique', 'Jamaica', 'Kazakhstan',
       'New Zealand', 'Venezuela', 'Cambodia', 'Jordan', 'Reunion',
       'Ghana', 'Paraguay', 'Turkey', 'Bangladesh', 'Cuba', 'Guyana',
       'Liechtenstein', 'Uruguay', 'Honduras', 'Ukraine', 'Aruba',
       'Burkina Faso', 'Cameroon', 'Congo (Kinshasa)', 'Jersey', 'Kosovo',
       'Monaco', 'Namibia', 'Nigeria', 'Seychelles',
       'Trinidad and Tobago', 'Andorra', 'Antigua and Barbuda', 'Bhutan',
       'Cayman Islands', 'Central African Republic',
       'Congo (Brazzaville)', "Cote d'Ivoire", 'Curacao',
       'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Gabon', 'Guadeloupe',
       'Guatemala', 'Guernsey', 'Guinea', 'Holy See', 'Kenya',
       'Mauritania', 'Mongolia', 'Nepal', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sudan', 'Suriname', 'Togo',
       'Uzbekistan', 'occupied Palestinian territory'], dtype=object)

In [32]:
#standard deviation
confirmed_std=daily_report.groupby('Country/Region').std()['Confirmed']
deaths_std=daily_report.groupby('Country/Region').std()['Deaths']
recovered_std=daily_report.groupby('Country/Region').std()['Recovered']

confirmed_std.head(15)

Country/Region
Afghanistan                  NaN
Albania                      NaN
Algeria                      NaN
Andorra                      NaN
Antigua and Barbuda          NaN
Argentina                    NaN
Armenia                      NaN
Aruba                        NaN
Australia              44.514043
Austria                      NaN
Azerbaijan                   NaN
Bahrain                      NaN
Bangladesh                   NaN
Belarus                      NaN
Belgium                      NaN
Name: Confirmed, dtype: float64

In [33]:
deaths_std

Country/Region
Afghanistan                      NaN
Albania                          NaN
Algeria                          NaN
Andorra                          NaN
Antigua and Barbuda              NaN
                                  ..
Uruguay                          NaN
Uzbekistan                       NaN
Venezuela                        NaN
Vietnam                          NaN
occupied Palestinian territory   NaN
Name: Deaths, Length: 147, dtype: float64

In [34]:
recovered_std

Country/Region
Afghanistan                      NaN
Albania                          NaN
Algeria                          NaN
Andorra                          NaN
Antigua and Barbuda              NaN
                                  ..
Uruguay                          NaN
Uzbekistan                       NaN
Venezuela                        NaN
Vietnam                          NaN
occupied Palestinian territory   NaN
Name: Recovered, Length: 147, dtype: float64

In [35]:
#SEM
confirmed_sem=daily_report.groupby('Country/Region').sem()['Confirmed']
deaths_sem=daily_report.groupby('Country/Region').sem()['Deaths']
recovered_sem=daily_report.groupby('Country/Region').sem()['Recovered']

confirmed_sem.head()

Country/Region
Afghanistan           NaN
Albania               NaN
Algeria               NaN
Andorra               NaN
Antigua and Barbuda   NaN
Name: Confirmed, dtype: float64

In [37]:
deaths_sem.head()

Country/Region
Afghanistan           NaN
Albania               NaN
Algeria               NaN
Andorra               NaN
Antigua and Barbuda   NaN
Name: Deaths, dtype: float64

In [38]:
recovered_sem.head()

Country/Region
Afghanistan           NaN
Albania               NaN
Algeria               NaN
Andorra               NaN
Antigua and Barbuda   NaN
Name: Recovered, dtype: float64

In [45]:
#combine results into summary statistics table (1 table for confirmed, 1 for deaths, 1 for recovered)
summary_stat_confirmed=pd.DataFrame({'Mean': confirmed_mean, 'Median': confirmed_median, 'Variance': confirmed_variance, 'Standard Deviation': confirmed_std, 'SEM': confirmed_sem})

summary_stat_confirmed.head()

                     Mean  Median  Variance  Standard Deviation  SEM
Country/Region
Afghanistan          16.0    16.0       NaN                 NaN  NaN
Albania              42.0    42.0       NaN                 NaN  NaN
Algeria              48.0    48.0       NaN                 NaN  NaN
Andorra               1.0     1.0       NaN                 NaN  NaN
Antigua and Barbuda   1.0     1.0       NaN                 NaN  NaN

In [44]:
summary_stat_deaths=pd.DataFrame({'Mean': deaths_mean, 'Median': deaths_median, 'Variance': deaths_variance, 'Standard Deviation': deaths_std, 'SEM': deaths_sem})

summary_stat_deaths.head()

                     Mean  Median  Variance  Standard Deviation  SEM
Country/Region
Afghanistan           0.0     0.0       NaN                 NaN  NaN
Albania               1.0     1.0       NaN                 NaN  NaN
Algeria               4.0     4.0       NaN                 NaN  NaN
Andorra               0.0     0.0       NaN                 NaN  NaN
Antigua and Barbuda   0.0     0.0       NaN                 NaN  NaN

In [43]:
summary_stat_recovered=pd.DataFrame({'Mean': recovered_mean, 'Median': recovered_median, 'Variance': recovered_variance, 'Standard Deviation': recovered_std, 'SEM': recovered_sem})

summary_stat_recovered.head()

                     Mean  Median  Variance  Standard Deviation  SEM
Country/Region
Afghanistan           0.0     0.0       NaN                 NaN  NaN
Albania               0.0     0.0       NaN                 NaN  NaN
Algeria              12.0    12.0       NaN                 NaN  NaN
Andorra               1.0     1.0       NaN                 NaN  NaN
Antigua and Barbuda   0.0     0.0       NaN                 NaN  NaN